---
layout: default
title: Ontola - Linked Data Software Development
---
  <div class="hero hero--home">
    <div id="particles-js"></div>
    <h1 id="hero-text">
      {% t home.hero %}
    </h1>
  </div>
  <!-- scripts -->
  <script src="/js/vendor/particles.min.js"></script>
  <script src="/js/particles.js"></script>
  <div class="section" id="linked-data">
    <div class="section__content">
      <nav class="pillars">
        <a href="#linked-data" class="current">{% t home.linked_data.title %}</a>
        <a href="#ontology-modelling">{% t home.ontology_modelling.title %}</a>
        <a href="#data-infrastructure">{% t home.data_infrastructure.title %}</a>
        <a href="#web-development">{% t home.web_development.title %}</a>
      </nav>
      <div class="section__wrapper">
        <div class="section__text">
          <h2>{% t home.linked_data.header %}</h2>
          <p>{% t home.linked_data.body %}</p>
          <p>{% t home.linked_data.body_2 %}</p>
          <a href="/linked-data" class="read-more">
            <i class="fas fa-arrow-right"></i>
            {% t home.linked_data.read_more %}
          </a>
        </div>
        <img
          alt="From three star to five star data"
          class="section__image"
          src="/img/home/linked-data.svg"
        />
      </div>
    </div>
  </div>
  <div class="section section--alt" id="ontology-modelling">
    <div class="section__content">
        <nav class="pillars">
          <a href="#linked-data">{% t home.linked_data.title %}</a>
          <a href="#ontology-modelling" class="current">{% t home.ontology_modelling.title %}</a>
          <a href="#data-infrastructure">{% t home.data_infrastructure.title %}</a>
          <a href="#web-development">{% t home.web_development.title %}</a>
        </nav>
        <div class="section__wrapper">
        <div class="section__text">
          <h2>{% t home.ontology_modelling.header %}</h2>
          <p>{% t home.ontology_modelling.body %}</p>
          <p>{% t home.ontology_modelling.body_2 %}</p>
          <!-- <a href="/blog/2018/07/03/a-brief-introduction-to-linked-data" class="read-more">
            <i class="fas fa-arrow-right"></i>
            {% t home.ontology_modelling.read_more %}
          </a> -->
        </div>
        <img
          alt="A data model linked to external models"
          class="section__image"
          src="/img/home/ontology-modelling.svg"
        />
      </div>
    </div>
  </div>
  <div class="section" id="data-infrastructure">
    <div class="section__content">
        <nav class="pillars">
          <a href="#linked-data">{% t home.linked_data.title %}</a>
          <a href="#ontology-modelling">{% t home.ontology_modelling.title %}</a>
          <a href="#data-infrastructure" class="current">{% t home.data_infrastructure.title %}</a>
          <a href="#web-development">{% t home.web_development.title %}</a>
        </nav>
      <div class="section__wrapper">
        <div class="section__text">
          <h2>{% t home.data_infrastructure.header %}</h2>
          <p>{% t home.data_infrastructure.body %}</p>
          <p>{% t home.data_infrastructure.body_2 %}</p>
          <!-- <a href="/blog/2018/07/03/a-brief-introduction-to-linked-data" class="read-more">
            <i class="fas fa-arrow-right"></i>
            {% t home.data_infrastructure.read_more %}
          </a> -->
        </div>
        <img
          alt="Import data from various servers, serve uniformly to different devices"
          class="section__image"
          src="/img/home/data-infrastructure.svg"
        />
      </div>
    </div>
  </div>
  <div class="section section--alt" id="web-development">
    <div class="section__content">
        <nav class="pillars">
          <a href="#linked-data">{% t home.linked_data.title %}</a>
          <a href="#ontology-modelling">{% t home.ontology_modelling.title %}</a>
          <a href="#data-infrastructure">{% t home.data_infrastructure.title %}</a>
          <a href="#web-development" class="current">{% t home.web_development.title %}</a>
        </nav>
        <div class="section__text">
          <h2>{% t home.web_development.header %}</h2>
          <p>{% t home.web_development.body %}</p>
          <p>{% t home.web_development.body_2 %}</p>
          <!-- <a href="/blog/2018/07/03/a-brief-introduction-to-linked-data" class="read-more">
            <i class="fas fa-arrow-right"></i>
            {% t home.web_development.read_more %}
          </a> -->
        </div>
    </div>
  </div>
  <div class="section" id="how-we-work">
    <div class="section__content">
    <h2>{% t home.how_we_work.header %}</h2>
      <ol class="cool-list">
        <li>
          <h3><span class="list-item">1. </span>{% t home.how_we_work.one.title %}</h3>
          <p>{% t home.how_we_work.one.body %}</p>
        </li>
        <li>
          <h3><span class="list-item">2. </span>{% t home.how_we_work.two.title %}</h3>
          <p>{% t home.how_we_work.two.body %}</p>
        </li>
        <li>
          <h3><span class="list-item">3. </span>{% t home.how_we_work.three.title %}</h3>
          <p>{% t home.how_we_work.three.body %}</p>
        </li>
        </li>
        <li>
          <h3><span class="list-item">4. </span>{% t home.how_we_work.four.title %}</h3>
          <p>{% t home.how_we_work.four.body %}</p>
        </li>
        <li>
          <h3><span class="list-item">5. </span>{% t home.how_we_work.five.title %}</h3>
          <p>{% t home.how_we_work.five.body %}</p>
        </li>
      </ol>
    </div>
  </div>
  <div class="section section--alt"  id="contact">
    <div class="section__content">
      <h2>{% t home.contact.header %}</h2>
      {% t home.contact.body_html %}
    </div>
  </div>
